<h1>.NET Core test application</h1>

<div class="radio">
  <label>
    <input type="radio" (change)="Update(0)" name="ProfitCode"><span> Welcome to ...</span>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" (change)="Update(1)" name="ProfitCode"><span> Recommendation Letter</span>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" (change)="Update(2)" name="ProfitCode"><span> Absence Letter</span>
  </label>
</div>

<div>
  <iframe [src]="url" style="width: 1000px; height: 500px;"></iframe>
</div>